#
# For a description of the syntax of this configuration file,
# see the file kconfiglanguage.txt in the NuttX tools repository.
#

if BOOTLOADER_MCUBOOT

config BOOTLOADER_MCUBOOT_OPTIONS
	select ARCH_RAMFUNCS
	select SAMV7_SYSTEMRESET

config BOOTLOADER_MCUBOOT_MEDIA_PROGMEM
	imply SAMV7_PROGMEM
	imply SAMV7_PROGMEM_ERASESTATE

config BOOTLOADER_MCUBOOT_SLOT_SIZE
	default 0x28000  if SAMV7_MEM_FLASH_512
	default 0x60000  if SAMV7_MEM_FLASH_1024
	default 0xe0000  if SAMV7_MEM_FLASH_2048

config BOOTLOADER_MCUBOOT_PRIMARY_SLOT_OFFSET
	default 0x20000

config BOOTLOADER_MCUBOOT_SECONDARY_SLOT_OFFSET
	default 0x48000  if SAMV7_MEM_FLASH_512
	default 0x80000  if SAMV7_MEM_FLASH_1024
	default 0x100000 if SAMV7_MEM_FLASH_2048

config BOOTLOADER_MCUBOOT_SCRATCH_SIZE
	default 0x10000  if SAMV7_MEM_FLASH_512
	default 0x20000

config BOOTLOADER_MCUBOOT_SCRATCH_OFFSET
	default 0x70000  if SAMV7_MEM_FLASH_512
	default 0xe0000  if SAMV7_MEM_FLASH_1024
	default 0x1e0000 if SAMV7_MEM_FLASH_2048

endif # BOOTLOADER_MCUBOOT

config BOARD_SAMV7_COMMON
       bool "Board common logic"
       default y
       ---help---
               Board common logic located in each board/common folder.

if BOARD_SAMV7_COMMON

comment "Intentionally Empty"

endif # BOARD_SAMV7_COMMON
